.imagen{
    width: 400px;
    height: 400px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.buscar-pagina, .pokedex-pagina, .equipo-pagina{
    display: none;
}
.encabezado{
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.encabezado div{
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
}
.encabezado-buscar{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.pokemon-card {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f4f4f4;
}
.pokemon-card img {
    width: 100px;
}
.buscador{
    height: 40px;
    border: none;
}
.buscador-contenedor{
    border: 1px solid black;
    width: 245px;
    border-radius: 5px;
}
.buscador-contenedor + input[type="text"]{
    height: 40px;
}
.imagen{
    width: 50%;
}
.buscar{
    height: 40px;
}
.botones{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#prev::before {
    content: "⬅️ ";
}
#next::after {
    content: " ➡️";
}
img{
    background-color: white;
    border-radius: 50%;
}